@model CalculatorViewModel

@{
    ViewBag.Title = "Tax Calculator";
    Layout = "_Layout";
}

<h2>Tax Calculator</h2>


<form method="post">
    <div class="form-group">
        <label asp-for="PostalCode">Postal Code</label>
        <select class="form-control" asp-for="PostalCode">
            <option value="">Select Postal Code</option>
            @foreach (var postalCode in Model.PostalCodes)
            {
                <option value="@postalCode.Value">@postalCode.Text</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Income">Income</label>
        <input type="number" step="0.01" class="form-control" asp-for="Income" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
